@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';
@import 'https://fonts.googleapis.com/css?family=Comfortaa';

@media(min-width: 1099px){
	.cont{
		background-image: url(images/bgcontact.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.mainbody{
		background-image: url(images/bgmain.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.about{
		background-image: url(images/bgabout.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.works{
		background-image: url(images/bgworks.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.aboutdiv{
		width:80%;
		height: 87vh;
		padding-top:80px;
		margin-left: 10%;
	}

	.navfix{
	position: fixed;
	background: rgba(255, 255, 255, 0.4);
	top:0px;
	left: 0px;
	right:0px;
	width: 100%;
	height: 60px;
	float: center;
	z-index: 1;
	transition: all 0.4s linear; 
	}
}

@media(max-width: 1100px){
	.cont{
		background-image: url(images/bgcontact.png);
		background-size: 1100px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.mainbody{
		background-image: url(images/bgmain.png);
		background-size: 1100px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.about{
		background-image: url(images/bgabout.jpg);
		background-size: 1100px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.works{
		background-image: url(images/bgworks.png);
		background-size: 1100px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.aboutdiv{
		width:880px;
		height: 87vh;
		padding-top:80px;
		margin-left: 10%;
	}

	.navfix{
	position: fixed;
	background: rgba(255, 255, 255, 0.4);
	top:0px;
	left: 0px;
	right:0px;
	width: 100%;
	height: 60px;
	float: center;
	z-index: 1;
	transition: all 0.4s linear; 
	}
}

body{
	padding-top: 0px;
	margin-top: 0px;
	background: #EEEEEE;
	font-family: Reem Kufi, Poiret One, 'Indie Flower';
	font-size: 18px;
}

img{
	width: 80%;/*
	border:3;
	border-style: solid;
	border-color: rgba(0,0,0,0.9);*/
	margin: 0;
}

p{
	padding: 10px 0px 10px 0px;
	line-height: 20px;
	color: white;
}

h1{
	padding-top: 0px;
	margin-top: 80px;
	height: 100px;
	padding-left: 50px;
	padding-top: 240px;
	margin-bottom: 0px;
	background-color: rgba(0,0,0,0.9);
	color: white;
}

nav{
	float: center;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	padding-top: 10px;
	padding-bottom: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
	width:8px;
	height:6px;
}

::-webkit-scrollbar-thumb {
	width:80%;
	background-color: rgba(200,200,200,0.2);
	background-clip:padding-box;
	min-height:28px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(200,200,200,0.4);
}

.indexdiv{
	position: relative;
	margin-top: 20px;
	margin-left:7%;
	margin-right: 7%;
}

.bgdiv{
	background-color: rgba(0,0,0,0.5);
	position: relative;
	top:0;
	bottom: 0;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}



.navdiv{
	width: 24%;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	padding-bottom: 0px;
	margin: 0px;
}

.toplink{
	text-decoration: none;
	color:black;
	display: block;
	padding-bottom: 40px;
	margin-top: 0px;
	transition: all 0.3s linear; 
}

.navfix:hover{
	background: rgba(255, 255, 255, 1);
	box-shadow: 3px 0px 10px rgba(0,0,0,0.3);
}

.toplink:hover{
	margin-top: 15px;
	color: #0480E8;
}

.abc{
	color: #red;
}

.navi{
	width:400px;
	height: 28px;
}

.navbtn{
	font-style: normal;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	color: white;
	transition: all 0.3s linear; 
}

.navbtn:hover{
	color: #FFCC00;
}

.navbtn:hover-over{
	color: white;
}

.navbtn:active{
	color: #B8121A;
}

#page_btn{
	position: fixed;
	right:1%;
	bottom: 2%;
	background: rgba(255,255,255,0.4);
	border-radius: 5px;
	color: #222222;
	float: right;
	text-decoration: none;
	padding: 5px 20px;
	transition: all 0.2s linear; 
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#page_btn:hover{
	background: #FFCC00;
}

.contdiv1{
	background-color: rgba(0,0,0,0.7);
	position: relative;
	left:15%;
	top: 200px;
	width: 30%;
	height: 300px;
	padding: 20px;
	color: white;
	display: inline-block;
	z-index: 1;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	overflow: auto;
	transition: all 0.5s linear; 
}

.contdiv1:hover{
	background-color: rgba(0,0,0,1);
	box-shadow: 8px 8px 16px rgba(0,0,0,0.5);
	z-index: 2;
}

.contdiv2{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	left:30%;
	top: 300px;
	width: 50%;
	height: 270px;
	padding: 20px;
	color: white;
	display: inline-block;
	z-index: -1;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	overflow: auto;
	transition: all 0.5s linear; 
}

.contdiv2:hover{
	background-color: rgba(0,0,0,1);
	box-shadow: 8px 8px 16px rgba(0,0,0,0.5);
	z-index: 2;
}

.contdiv3{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	right:15%;
	top: 130px;
	width: 40%;
	height: 200px;
	padding: 20px;
	color: white;
	display: inline-block;
	z-index: 1;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	overflow: auto;
	transition: all 0.5s linear; 
}

.contdiv3:hover{
	background-color: rgba(0,0,0,1);
	box-shadow: 8px 8px 16px rgba(0,0,0,0.5);
	z-index: 2;
}

.contpa{
	padding: 10px;
	line-height: 24px;
	font-family: 'Comfortaa';
	font-size:20px;
}

.imgbtn{
	margin-top: 30px;
	height: 150px;
	width: 180px;
	opacity: 0.6;
	display: inline-block;
	transition: all 0,3s linear;
}

.imgbtn:hover{
	opacity: 1;
}


.fact{
	margin-top: 0;
	margin-right:5px;
	display: inline-flex;
	width:10%;
	height: 40px;
	transition: all 2s ease-in-out;
	background-color: rgba(255,255,255,0.3);
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px;
	box-shadow: 8px 8px 16px rgba(0,0,0,0);
	font-family: "Comfortaa";
	z-index: 1;
}

.fact:hover{
	height:100%;
	box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
}

.factcontent{
	padding-top: 20px;
	margin-top: 40px;
	width: 100%;
	line-height: 24px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right:10px;
	overflow: auto;
	overflow-x: hidden;
	font-size: 16px;
	z-index: 1;
}

.f1{
	background-color: rgba(255,34,39,0.8);
	color: black;
}
.f2{
	background-color: rgba(255,49,97,0.8);
	color: black;
}
.f3{
	background-color: rgba(255,36,195,0.8);
	color: black;
}
.f4{
	background-color: rgba(223,60,255,0.8);
	color: black;
}
.f5{
	background-color: rgba(144,63,255,0.8);
	color: black;
}
.f6{
	background-color: rgba(70,73,255,0.8);
	color: black;
}
.f7{
	background-color: rgba(71,123,255,0.8);
	color: black;
}
.f8{
	background-color: rgba(51,175,255,0.8);
	color: black;
}
.f9{
	background-color: rgba(48,232,255,0.8);
	color: black;
}

.aboutp{
	color: black;
}

.abdiv{
	position: absolute;
	transition: all 0.6s ease-out;
	display: inline-block;
}

.abdiv:hover{
	transform: scale(1.1);
}